@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 29% 97%;
    --foreground: 161 27% 14%;
    --card: 0 0% 100%;
    --card-foreground: 161 27% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 161 27% 14%;
    --primary: 153 42% 28%;
    --primary-foreground: 48 100% 98%;
    --secondary: 40 30% 93%;
    --secondary-foreground: 161 27% 14%;
    --muted: 42 18% 92%;
    --muted-foreground: 164 12% 39%;
    --accent: 150 23% 92%;
    --accent-foreground: 161 27% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 34 18% 85%;
    --input: 34 18% 85%;
    --ring: 153 42% 28%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
